*

!.gitignore
!README.md
!agents/
!agents/AGENTS.md

!nvim/
!aerospace/
!ghostty/
!tmux/
!claude/
!nix/
!mise/

!nix/**/*
nix/local.nix
!claude/settings.json
!mise/config.toml
!tmux/tmux.conf
!nvim/**/*
!aerospace/**/*
!ghostty/**/*

!**/*.sh
.DS_Store
