*

!.gitignore
!README.md
!agents/
!agents/AGENTS.md

!flake.nix
!flake.lock
!nix/
!nix/**/*
nix/local.nix

!nvim/
!aerospace/
!ghostty/
!tmux/
!claude/
!mise/
!zsa/
!yazi/
!zsh/

!claude/settings.json
!mise/config.toml
!tmux/tmux.conf
!nvim/**/*
!aerospace/**/*
!ghostty/**/*
!zsa/**/*
!yazi/**/*
!zsh/**/*
zsh/.zshenv_private

!**/*.sh
.DS_Store
