*

!.gitignore
!README.md
!agents/
!agents/AGENTS.md

!nvim/
!zsh/
!aerospace/
!ghostty/
!tmux/
!claude/
!nix/

!nix/**/*
nix/local.nix
!claude/settings.json
!tmux/tmux.conf
!nvim/**/*
!aerospace/**/*
!ghostty/**/*

!**/*.sh
lazy-lock.json
.DS_Store
